{% extends 'app/main.html' %} {% load static %} {% block title %}
<title>Turfy | Login</title>
{% endblock %} {% block content %}

<div class="time-slots-heading">
  <h1>Add Time <br> Slots</h1>
</div>
<hr class="time-slots-hr">

  <form action="" method="post">
    {% csrf_token %}
    <label for="startTime">Start Time</label>
    {{form.startTime}}
    {{form.startAMPM}}
    <br />
    <label for="endTime">End Time</label>
    {{form.endTime}}
    {{form.endAMPM}}
    <br />
    <button type="submit">Add</button>
  </form>
</div>
{% endblock %}
