{% extends 'app/main.html' %} {% load static %} {% block title %}
<title>Turfy | Login</title>
{% endblock %} {% block content %}
<div style="display: flex; flex-direction: row; top: 60px">
  <div
    class="photo"
    style="
      border: solid;
      border-color: grey;
      height: 300px;
      width: 200px;
      margin-top: 60px;
    "
  >
    photo
  </div>
  <div
    class="info"
    style="
      border: solid;
      border-color: grey;
      height: 300px;
      width: 200px;
      margin-top: 60px;
    "
  >
    <form action="" method="POST">
      {% csrf_token %}
      <label for="timeSlot">Time Slot</label><br />
      {{form.timeSlot}}<br />
      <label for="date">Date</label><br />
      {{form.date}}<br />
      {{form.errors}}
      <button type="submit">Book</button>
    </form>
  </div>
</div>

{% endblock %}
