{% extends 'app/main.html' %} {% load static %} {% block title %}
<title>Turfy | Login</title>
{% endblock %} {% block content %}

<div class="main-register-div">
  <div class="player-div">
    <p class="player-register-text1">Player</p>
    <p class="player-register-text2">Registration</p>
    <a class="player-register-button" href="{% url 'registerPlayer' %}"
      >Register</a
    >
  </div>
  <div class="owner-div">
    <p class="owner-register-text1">Turf</p>
    <p class="owner-register-text2">Registration</p>
    <a class="owner-register-button" href="{% url 'registerTurf' %}">Register</a>
  </div>
</div>
{% endblock %}
