{% extends 'app/main.html' %} {% load static %} {% block title %}
<title>Turfy | Login</title>
{% endblock %} {% block content %}

<div class="payment-heading">
  <h1 class="turf-payment-heading">Turf Booking <br> Payment</h1>
</div>

<div class="payment-div">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="mode">Mode of Payment</label><br />
      {{form.mode}}<br />
      <label for="screenshot">Payment Screenshot</label><br />
      {{form.screenshot}}<br />
      {{form.errors}}
      <button type="submit">Book</button>
    </form>
</div>

{% endblock %}
