{% extends 'app/main.html' %} {% load static %} {% block title %}
<title>Turfy | Login</title>
{% endblock %} {% block content %}
<div style="height: 300px; width: 1fr; background-color: blue">
  <img src="#" alt="image of place" />
  <button>ADD PHOTOS</button>
</div>
<form action="" method="POST" style="padding-top: 10px; padding-bottom: 10px">
  <label for="turfName">turfName</label>
  <input type="text" name="turfName" />

  <div style="border: solid; border-color: black; border-width: 3px">
    <label for="description">description</label>
    <input type="text" name="description" />
    <br />
    <label for="turfLocation">turfLocation</label>
    <input type="text" name="turfLocation" />
    <br />
    <label for="turfSize">turfSize</label>
    <select name="turfSize" id="turfSize">
      <option value="5s">5s</option>
      <option value="7s">7s</option>
    </select>
    <br />
    <label for="PhoneNumber">PhoneNumber</label>
    <input type="text" name="PhoneNumber" />
    <br />
    <label for="Price">Price</label>
    <input type="number" name="Price" />
    <br />
  </div>
</form>

{% endblock %}
