{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Turfy | Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <button type="submit">Login</button>
    </form>
    {{ form.errors }}
    {% for message in messages %}
    <p>{{message}}</p><br>
    {% endfor %}
    <!-- <a href="#">Forgot Password?</a> -->
    <a href="{% url 'register' %}">New to Turfy?</a>
    <!-- <button>Signup with Google</button> -->
</body>
</html>