{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Manage-bookings</title>
</head>
<body>
    <div style="background-color: lightblue;height: 50px;position: fixed;top: 0;
    left: 0;right: 0;"></div>
    <p style="display: flex;justify-content: center;margin-top: 60px;margin-bottom: 0%;">Bookings</p>
    <div style="border: solid;border-color: black;height: 500px;width: 700px;margin-top: 60px;margin-left: 20px; display: flex;
    flex-direction: column;justify-content: space-between;">
        <div style="background-color: aquamarine;height: 70px;display: flex;flex-direction: row;justify-content: space-between;">
            <div style="margin-left: 40px;">DETAIL</div>    
            <div style="margin-right: 40px;">STATUS</div>
        </div>
        <div style="background-color: aquamarine;height: 70px;display: flex;flex-direction: row;justify-content: space-between;">
            <div style="margin-left: 40px;">DETAIL</div>    
            <div style="margin-right: 40px;">STATUS</div>
        </div>
        <div style="background-color: aquamarine;height: 70px;display: flex;flex-direction: row;justify-content: space-between;">
            <div style="margin-left: 40px;">DETAIL</div>    
            <div style="margin-right: 40px;">STATUS</div>
        </div>
        <div style="background-color: aquamarine;height: 70px;display: flex;flex-direction: row;justify-content: space-between;">
            <div style="margin-left: 40px;">DETAIL</div>    
            <div style="margin-right: 40px;">Status</div>
        </div>
        <div style="background-color: aquamarine;height: 70px;display: flex;flex-direction: row;justify-content: space-between;">
            <div style="margin-left: 40px;">DETAIL</div>    
            <div style="margin-right: 40px;">STATUS</div>
        </div>
    </div>
   
</body>
</html>