<nav>
  <h3>TURFY</h3>
  <div class="btn-nav-group">

    {% if user.is_authenticated %}
    {% if player %}
    <a href="{% url 'searchTurfs' %}" class="btn btn-nav">Turfs</a
    ><a href="{% url 'playerProfile' %}" class="btn btn-nav">Your Profile</a>
    {% elif turf %}
    <a href="{% url 'turfProfile' %}" class="btn btn-nav">Turf Profile</a>
    {% endif %}
    <a href="{% url 'logoutUser' %}" class="btn btn-nav">Logout</a>
    {% else %}
    <a href="{% url 'register' %}" class="btn btn-nav">Register</a
    ><a href="{% url 'loginUser' %}" class="btn btn-nav">Login</a>
    {% endif %}
  </div>
</nav>
