{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Turfy | Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" placeholder="First Name">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" placeholder="Last Name">
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" placeholder="Email ID">
        <label for="password1">Password</label>
        <input type="password" name="password1" id="password1" placeholder="Password">
        <label for="password2">Confirm Password</label>
        <input type="password" name="password2" id="password2" placeholder="Confirm Password">
        <button type="submit">Register</button>
    </form>
    {{form.errors}}
    {% for message in messages %}
    <p>{{message}}</p><br>
    {% endfor %}
    <a href="#">Already registered?</a>
    <a href="{% url 'loginUser' %}" class="login">Login</a>
</body>
</html>