{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Turfy | Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" placeholder="Email ID">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <label for="password">Confirm Password</label>
        <input type="password" name="password" id="password" placeholder="Confirm Password">
        <button type="submit">Register</button>
    </form>
    <a href="#">Already have a user?</a>
    <button class="login">Login</button>
</body>
</html>