--{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Turfy | Register</title>
</head>

</div>
<body class="body">
    <link rel="stylesheet" href="styles.css">
    <div class="header-div">
        <div class="turfy-name">
            <h2 style="font-weight: bold;color: white;margin-left: 30px;">TURFY</h2>      
        </div>
        <DIV class="register-login-div">
            <p style="color: grey;margin-right: 20px;">Already a User?</p>
            <button class="login-button">Login</button>
        </DIV>
    </div>
    <div class="main-register-div">
        <div class="player-div">
            <p class="main-register-text1">Player</p>
            <p class="main-register-text2">Registration</p>
            <button class="main-register-button">Register</button>
            
        </div>
        <div class="vertical-line"></div>
        <div class="owner-div">
            <p class="owner-register-text1">Owner</p>
            <p class="owner-register-text2">Registration</p>
            <button class="main-register-button">Register</button>
        </div>
    </div>
</body>
</html>