{% extends 'app/main.html' %} {% load static %} {% block title %}
<title>Turfy | Login</title>
{% endblock %} {% block content %}
<h1 class="player-heading">Turf</h1>
<h2 class="Registration-heading">Registration</h2>
<hr
  style="
    width: 700px;
    color: grey;
    margin-left: 130px;
    margin-top: 0px;
    padding-top: 0;
    margin-bottom: 3%;
  "
/>
<form action="" method="POST" class="form">
  {% csrf_token %}
  <div class="main-form">
    <div class="left-form">
      <label for="owner-name"></label>
      {{form.ownerName}}
      <br />
      <label for="turf-name"></label>
      {{form.turfName}}
      <br />
      <label for="Location"></label>
      {{form.location}}
      <br />
    </div>
    <div class="right-form">
      <label for="Price-slot"></label>
      {{form.pricePerSlot}}
      <br />
      <label for="phone-num"></label>
      {{form.phoneNumber}}
      <br />
      <label for="password"></label>
      {{form.fieldSize}}
      <br />
    </div>
  </div>
  <button class="register-button">Register</button>
</form>
{{form.errors}} {% for message in messages %}
<p>{{message}}</p>
<br />
{% endfor %} {{form.errors}}
{% endblock %}