<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TURFY</h1>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <INPUT type="search" placeholder="Enter Name"></INPUT>
            <button class="search">Search</button>
        </div>
        
        <div>
            <BUTTon class="filter-button">Filter</BUTTon>
        </div>
    </div>
    <br>
    <div style="display: flex;flex-direction: row; justify-content: space-between;">
        {% for turf in turfs %}
        <div style="border-radius: 2px;border-color: grey;width: 400px;height: 300px;border: solid;display: flex;flex-direction: column;justify-content: space-between;">
            <div style="background-color: lightblue; height: 150px;">PICture of Turf</div>
            <div>
                <p>{{turf.turfName}}</p>
            </div>
            <div style="display: flex;vertical-align: top;">
                <p>{{turf.location}}</p><br>
                <p>13.2km from You</p>
            </div>
            <div style="background-color: lightpink;justify-content: right;display: flex;flex-direction: row;justify-content: space-between;">
                <p>Price {{turf.pricePerSlot}}</p>
                <a href="{% url 'viewTurf' turf.id %}">view Details </a>
            </div>
        </div>
        {% endfor %}
    </div>
   
    
   
</body>
</html>