{% extends 'app/main.html' %}

{% load static %}

{% block title %}
<title>Turfy | Login</title>
<link rel="stylesheet" href="{% static 'css/styles1.css' %}" />

{% endblock %}

{% block content %}
    <h1>TURFY</h1>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <input type="search" placeholder="Enter Name"></input>
            <button class="search">Search</button>
        </div>
        
        <div>
            <button class="filter-button">Filter</button>
        </div>
    </div>
    <br>
    
    <div class="search-turf">
        {% for turf in turfs %}
        <div class="search-card">
            <div class="search-card-image"></div>
            <div class="search-card-name-price">
                <p class="search-card-name">{{turf.turfName}}</p>
                <p class="search-card-price">Price {{turf.pricePerSlot}}</p>
            </div>
            <div class="search-card-location">
                <p>{{turf.location}}</p>
            </div>
            <hr class="hr-details">
            <div class="search-card-details-div">
                <a class="search-card-details" href="{% url 'viewTurf' turf.id %}"> View Details </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <button class="view-all">View All</button>
    </div>
   
{% endblock %}