{% extends 'app/main.html' %} {% load static %} {% block title %}
<title>Turfy | Login</title>
{% endblock %} {% block content %}

<div class="name-div">
  <h1 class="turf-name">{{turfData.turfName}}</h1>
</div>
<div class="view-main-div">
  <div class="view-left-div">
    <div class="view-turf-image">
      <img src="#" alt="image of place" />
    </div>
    <div class="turf-desc">
      <p class="turf-text">Nestled within urban embrace, the vibrant turf unfolds like an emerald canvas, a patchwork of greenery inviting play and repose. Lush blades dance to nature's whims, while the air hums with the laughter of gatherings. A haven for sport and leisure, this turf is a living tapestry woven with community spirit.This enchanting turf is situated in the heart of the city, a lively oasis of greenery that beckons visitors with its rich, emerald hues. The grass, meticulously cared for, sways gracefully in response to the gentle breeze. The ambiance is filled with the joyous sounds of people coming together—whether engaging in sports or simply enjoying a leisurely time outdoors. It's not just a physical space; it's a living, breathing tapestry where community bonds are forged amid the beauty of nature.</p>
    </div>
    <div class="view-turf-details">
      <div class="turf-details">
        <p class="view-turf-desc1">Location :{{turfData.location}}</p>
        <p class="view-turf-desc">Turf Size :{{turfData.size}}</p>
        <p class="view-turf-desc">Phone No. :{{turfData.phoneNumber}}</p>
        <p class="view-turf-desc">Field Size :{{turfData.fieldSize}}</p>
        <p class="view-turf-desc">Price Per Slot:{{turfData.pricePerSlot}}</p>
      </div>
      <form class="turf-booking" action="" method="POST">
        {% csrf_token %}
        <label for="time slot">Time Slot</label>
        <select type="time" name="slot" id="slot">
          {% for slot in slots %}
          <option value="{{slot.id}}">{{slot.startTime}} {{slot.startAMPM}} - {{slot.endTime}} {{slot.endAMPM}}</option>
          {% endfor %}
          </select>
          <br>
        <label for="date">Date</label>
        <input type="date" name="date" id="date" placeholder="Date"><br>
        <button type="submit" class="book-turf-button">Book Turf</button>
      </form>
    </div>
  </div>
  <div class="view-right-div">
    <label for="time slot">Time Slot</label>
      <input type="time" name="time slot" id="time slot" placeholder="Time Slot"><br>
      <label for="date">Date</label>
      <input type="date" name="date" id="date" placeholder="Date"><br>
      <a class="book-turf-button" href="{% url 'createBooking' turf.id %}">Book Turf</a>
</div>

{% endblock %}
