{% extends 'app/main.html' %} {% load static %} {% block title %}
<title>Turfy | Login</title>
{% endblock %} {% block content %}
<div style="height: 300px; width: 1fr; background-color: blue">
  <img src="#" alt="image of place" />
</div>
<h1>{{turf.turfName}}</h1>
<div style="border: solid; border-color: black; border-width: 3px">
  <p>description about place</p>
  <p>{{turf.location}}</p>
  <p>{{turf.size}}</p>
  <p>{{turf.phoneNumber}}</p>
  <p>{{turf.fieldSize}}</p>
  <p>{{turf.pricePerSlot}}</p>
  <p>time slots available</p>
</div>
<div
  style="
    border: solid;
    border-width: 3px;
    border-color: black;
    display: flex;
    justify-content: space-between;
  "
>
  <a href="{% url 'createBooking' turf.id %}">Book Turf</a>
  <!-- <button>add to fav</button> -->
</div>
<h3>Bookings</h3>
<table>
  <thead>
    <th>Player</th>
    <th>Time Slot</th>
    <th>Date</th>
  </thead>
  <tbody>
    {% for booking in bookings %}
    <td>{{booking.player.firstName}} {{booking.player.lastName}}</td>
    <td>
      {{booking.timeSlot.startTime}} {{booking.timeSlot.startAMPM}} -
      {{booking.timeSlot.lastName}} {{booking.timeSlot.endAMPM}}
    </td>
    <td>{{booking.date}}</td>
    {% endfor %}
  </tbody>
</table>

<h3>Time Slots</h3>
<table>
  <thead>
    <th>Start Time</th>
    <th>End Time</th>
  </thead>
  <tbody>
    {% for slot in slots %}
    <td>{{slot.startTime}} {{slot.startAMPM}}</td>
    <td>{{slot.endTime}} {{slot.endAMPM}}</td>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
